* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

.section_one {
    background-color: #212638;
    height: 50vh;
}

.section_one > .navigation {
    display: flex;
    color: aliceblue;
    
    justify-content: space-around;
    padding: 18px 0px;
}

.navigation ul {
    display: flex;
    gap: 15px;
   
}

.navigation li {
    list-style-type: none;
}

.section_one .content1 {
    border: 3px solid white;
    height: 100%;
}

.content > .box1 > .box1_inside >  h2  {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}

.content > .box1 > .box1_inside > p {
    font-size: 18px;
    color: #E5E7EB;
}

.section_one {
    display: flex;
    flex-direction: column;
}

.section_one > .content {
    display: flex;
    flex: 1;
}

.section_one > .content > .box1 , .box2 {
    flex: 1 1 50%;
}


.section_one > .content > .box1 > .box1_inside > * {
    margin: 10px 0px ;
}

.section_one > .content > .box1 > .box1_inside > button {
    padding: 2% 5%;
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    border: 0px;
}


.section_one > .content > .box2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section_one > .content > .box2 > img {
    height: 250px;
    width: auto;
}




.section_one > .content > .box1 {

display: flex;
justify-content: center;
align-items: center;
} 

.section_one > .content > .box1 > .box1_inside {
    flex-basis:50%;
}

footer {
    height: 100px;
    background-color: #212638;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}


body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}